[submodule "vendor/emacs-color-theme-solarized"]
	path = vendor/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "non-elpa-libs/js3-mode"]
	path = non-elpa-libs/js3-mode
	url = git://github.com/thomblake/js3-mode.git
